/* Styling the product card */
body {
    background-color: #FEF9F2;
}

    .product-card {
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 15px;
      margin-bottom: 20px;
      text-align: center;
      transition: transform 0.2s ease;
    }
    .product-card img {
      max-width: 100%;
      height: auto;
    }
    .product-card:hover {
      transform: scale(1.05);
    }
    .product-card h5, .product-card p {
      margin: 10px 0;
    }
    .price {
      font-weight: bold;
      color: #28a745;
    }
    .category {
      color: #6c757d;
      font-size: 0.9rem;
    }
.related-products {
            overflow: hidden;
        }
.related-products .row {
            transition: margin-left 2s;
        }
